.chat {
  padding-top: 7rem;
 


  
  
}

.message {
  width: fit-content;
}

.form_message {
  bottom: 0%;
  position: fixed;
  width: 100%;
  display: flex;
}
.input_message {
  width: 100%;
  background-color: black;
  outline: none;
  border: none;
  padding: 1rem;
  font-family: "Josefin Sans", sans-serif;
  color: white;
}
.button_message {
  width: 20%;
  font-family: "Josefin Sans", sans-serif;
  background-color: rgb(255, 150, 52);
  outline: none;
  border: none;
  cursor: pointer;
}

.message-card {
  padding: 10px;
  margin: 10px;
  width: fit-content;
  margin-bottom: 3rem;
}
div.message-user {
  margin-left: auto;
  color: white;
}
.message-userCard {
  background-color: #0b81ff;
  margin-left: fit-content;

  width: fit-content;
  padding: 1rem;
  border-radius: 1rem;
  font-family: "Josefin Sans", sans-serif;
  box-shadow: 0px 0px 10px black;
}
.message-guestCard {
  background-color: #cb48ff;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px black;
  font-family: "Josefin Sans", sans-serif;
}
.message_name{
  font-family: "Josefin Sans", sans-serif;
margin-bottom: 1rem;
}